.search-overlay {
    opacity: 0;
    pointer-events: none;

    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transition: opacity 0.3s ease;
}

.search-overlay.active {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);

    transform: scale(1.1);
    pointer-events: all;
}

.body-no-scroll {
    /*overflow: hidden;*/
    overflow-y: hidden;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-loader {
    margin-top: 45px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: black;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}


/* para mostrar los resultados */
.search-results {
    max-height: 400px;
    overflow-y: auto;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-results::-webkit-scrollbar {
    width: 6px;
}

.search-results::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.search-results::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}